*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.body {
    background-image: url(Image/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.big-banner {
    background-image: url('https://southtelecom.vn/pictures/getfile/Web-Developer.jpg');
    background-size: cover;
}
.container
{
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 40px;
    cursor: pointer;
    margin: 20px 0;
}
lg{
    flex: 1;
    margin-top: 10px;
    margin-left: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}
.menu_icon{
    width: 20px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    padding: 0px 15px; 
    border-radius: 50px;
}
.bn{
    border: 0px;
    background-color: #fff;
    color: white;
    padding: 5px 15px; 
    border-radius: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 30px 0px;
}
.col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 0px;
}
.col-1 h2{
    margin-top: 30px;
    font-size: 50px;
    color: #284B83;
}
.col-1 h3{
    font-size: 20px;
    color: #ffffff;
}
.button {
    margin: 20px 0;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
}
.button a {
    text-decoration: none;
    color: #ffffff;
    background-color: #284B83;
    padding: 10px 30px; 
    border-radius: 50px;
}
.button a:hover {
    background-color: #ffffff;
    color: #284B83;
    transition: 0.5s;
}
.col-2 {
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: center;
}
.col-2 .theme{
    width: 100%;
}
.social_links img{
    height: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.social_links{
    text-align: left;
}

/*****LOGIN PAGE*****/
.logo_login{
    width: 30px;
    margin: 20px 0;
}
.login_page h1{
    margin-top: 20px;
    color: #284B83;  
    font-size: 20px;
}
.col-2 .login{
    margin-top: 20px;
    width: 100%;
    margin-left: 60px;
}
.login_page{
    padding: 0px 0;
    background: #b3e0ff;
}
.form_container{
    background: #ffffff;
    width: 360px;
    height: 480px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    padding: 20px 0;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}
.form_container span{
    font-weight: bold;
    padding: 0 10px;
    color: #284b83;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    font-size: 20px;
}
.form_btn{
    display: inline-block;
}
.form_container form{
    max-width: 295px;
    padding: 0 20px;
    position: absolute;
    top: 120px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    outline: none;
}
form .btn{
    width: 108%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    background: #284B83;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}
form .btn:focus{
    outline: none;
}
form .btn:hover{
    background: rgba(0, 0, 0, 0.1);
}

form a{
    margin: 55px 0;
    color: #284B83;
    font-size: 14px;
}
form d{
    color: #fff;
    font-size: 14px;
}
#LoginForm{
    left: -360px;
}
#RegisterForm{
    left: 0;
}
#Indicator{
    width: 120px;
    border: none;
    background: #284b83;
    height: 3px;
    border-radius: 30px;
    margin-top: 8px;
    transform: translate(125px);
    transition: transform 1s;
}
